/*
** MediaWiki 'cavendish' style sheet for CSS2/3-capable browsers.
** Copyright Mozilla Foundation - http://www.mozilla.org/
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on the monobook style by Gabriel Wicke
*
* Last modified on 2010/12/31 for Cavendish mod.
*/

/* Try to use custom fonts trough CSS3 (opera 10+, safari 3.1+ and ff 3.5+) */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* Inherit styles from monobook */
@import url("monobook.css");

/* Load Cavendish specific styles */
@import url("content.css");
@import url("template.css");
@import url("basetemplate.css");
@import url("cavendish.css");

/*
 * If you want the mozilla.org button on the top back, look for "mozilla-org"
 * in CavendishMW.php and uncomment that line. Also uncomment this body
 * part below.
 **/
/*body {
	background: url("subsite_back.gif") repeat-x;
	background-color: #FFF;
	margin-top: 0;
	padding-top: 0;
}*/


/*
 * Overwrite some styles from monobook.
 */
ul {
	list-style-image: url(bullet-icon.png);
}
.portlet ul {
	list-style-type: circle;
	list-style-image: url(bullet-icon.png);
}
li#pt-userpage,
li#pt-anonuserpage,
li#pt-login {
	background: url(user-icon.png) top left no-repeat;
}

a.external,
a[href ^="gopher://"] {
	background: url(external.png) center right no-repeat;
	padding-right: 13px;
}
a[href ^="https://"],
.link-https {
	background: url(lock-icon.png) center right no-repeat;
	padding-right: 16px;
}
a[href ^="mailto:"],
.link-mailto {
	background: url(mail-icon.png) center right no-repeat;
	padding-right: 18px;
}
a[href ^="news://"] {
	background: url(news-icon.png) center right no-repeat;
	padding-right: 18px;
}
a[href ^="ftp://"],
.link-ftp {
	background: url(file-icon.png) center right no-repeat;
	padding-right: 18px;
}
a[href ^="irc://"],
a.extiw[href ^="irc://"],
.link-irc {
	background: url(discussionitem_icon.gif) center right no-repeat;
	padding-right: 18px;
}
a.external[href $=".ogg"], a.external[href $=".OGG"],
a.external[href $=".mid"], a.external[href $=".MID"],
a.external[href $=".midi"], a.external[href $=".MIDI"],
a.external[href $=".mp3"], a.external[href $=".MP3"],
a.external[href $=".wav"], a.external[href $=".WAV"],
a.external[href $=".wma"], a.external[href $=".WMA"],
.link-audio {
	background: url("audio-icon.png") center right no-repeat;
	padding-right: 13px;
}
a.external[href $=".ogm"], a.external[href $=".OGM"],
a.external[href $=".avi"], a.external[href $=".AVI"],
a.external[href $=".mpeg"], a.external[href $=".MPEG"],
a.external[href $=".mpg"], a.external[href $=".MPG"],
.link-video {
	background: url("video-icon.png") center right no-repeat;
	padding-right: 13px;
}
a.external[href $=".pdf"], a.external[href $=".PDF"],
a.external[href *=".pdf#"], a.external[href *=".PDF#"],
a.external[href *=".pdf?"], a.external[href *=".PDF?"],
.link-document {
	background: url("document.png") center right no-repeat;
	padding-right: 12px;
}
