/* mozilla.org Cavendish Content Styles
 * Design by SilverOrange
 * Markup Reference classes organized by fantasai
 */

/* Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 *
 */

/* TOC:
   Body
   Random HTML Styles
     Forms
   General Structure
   Navigation
   Quotations
   Comments and Other Asides
   Emphasis
   Computers - General
   Code
   Examples and Figures
   Q and A (FAQ)
   Tables
   Meta
*/

/* Body */

#mainContent, #side {
	background: #ffffff;
	line-height: 1.3; /* value other than 'normal' needed for WinIE */
}

.deepLevel #mainContent {
	line-height: 1.4;
}

#nav {
	line-height: 1em;
}

#mainContent p {
line-height: 1.8em;
text-align: justify;
}

/* Random HTML Styles */

input[type="submit"] {
	font-weight: bold;
}

.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	border-left: 4px solid #ffa500;
	color: black;
	font-weight: normal;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}
.errorbox, .successbox {
	font-size: small;
	border: 1px solid;
	padding: .3em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
    border-color: #DF421E;
    background-color: #fff2f2;
}
.successbox {
	border-color: #267726;
	background-color: #dfd;
}

li#pt-userpage,
li#pt-anonuserpage,
li#pt-login {
	background: none; /* removes the icon in front of the user name */
}

.os-suggest {
	font-size: 100%; /* the font size for MediaWiki Suggest */
}

.errorbox, .successbox, .catlinks, .infobox, div.thumbinner, .toc,
.fn, .navbox-title, .navbox-group, .navbox, .navbox-abovebelow,
.noarticletext, .mbox-small, .ambox {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Change the default colors of navigation boxes */

.navbox-title, table.navbox th {
    background: none repeat scroll 0 0 #9DB8D2 !important;
}

.navbox-abovebelow, .navbox-group, .navbox-subgroup .navbox-title {
    background: none repeat scroll 0 0 #EAE8E3 !important;
}

/* General Structure */
body {
    font-family: Ubuntu, "Droid Sans", Verdana, 'Bitstream Vera Sans', 'DejaVu Sans';
    font-size: 0.75em;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
    color: #000;
}

input {
    font-family: Ubuntu, "Droid Sans", Verdana, 'Bitstream Vera Sans', 'DejaVu Sans';
}

textarea {
	font-family: "Droid Sans Mono", monospace;
	font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Ubuntu, "Droid Serif", Georgia, "Times New Roman", Times;
	margin: 1em 0 0.3em 0;
}

h6 { font-size: 90%;  }

h1, h2 {
	text-shadow: 1px 1px 2px #A5A5A5;
}

li h1, li h2, li h3, li h4, li h5, li h6 {
	border: none;
}

tt, code, pre {
	font-family: "Droid Sans Mono", monospace, sans-serif !important;
	overflow: auto;
	font-size: 1.0em;
	line-height: 1.4em;
}

code {
	color: green;
}

#header h1 { border: 0; }

/* Quotations */


/* Comments and other Asides */

.note {
	color: #666;
	font-style: normal;
}

.remark {
	color: #666;
}

.sidenote {
	border: #666;
}

.key-point:before {
	line-height: 0.1;
	font-size: 1px;
	background: transparent url("../../images/key-point_tr.gif") no-repeat top right;
	margin: -15px -15px 0 -15px;
	height: 15px;
	display: block;
	border: none;
	content: url("../../images/key-point_tl.gif");
}
.key-point {
	background: #e4ecec url("../../images/key-point_back.gif") right repeat-y;
	padding: 15px;
	margin-bottom: 1em;
}
.key-point:after {
	display: block;
	clear: both;
	padding-top: 15px;
	line-height: 0.1;
	font-size: 1px;
	content:  url("../../images/key-point_bl.gif");
	margin: -15px;
	height: 8px;
	background: transparent url("../../images/key-point_br.gif") scroll no-repeat bottom right ;
}

.key-point h2, .key-point h3, .key-point h4, .key-point h5 {
	border: none;
	margin-top: 0;
	color: #4C5C5C;
}

.news dt {
	font-weight: normal;
	color: #666;
}
.news dt a {
	font-weight: bold;
}

ul.compact {
	margin-left: 0;
	padding-left: 20px;
}

/* Emphasis */

/* Computers - General */

kbd {
	margin: 0.1em;
	padding: 0.1em;
	border: 1px #ccc;
}

kbd.command,
code.command {
	color: #6B5839;
}

/* Code */

pre.code {
	background: #EEECF6;
}

code > em,
code > strong,
pre.code > em,
pre.code > strong {
	font-style: normal;
}

/* Examples and Figures */

div.example {
	border-color: #554FA0;
}
div.example:before {
	color: #666;
}

/* Q and A (FAQ) */

ol.faq li a {
text-decoration: none;
border-bottom: 1px dotted #6C98EE;
}

ol.faq li a:hover {
border-color: #039;
}


/* Tables */

table.data thead th {
	background: #e4ecec;
	empty-cells: hide;
}

table.data th,
table.data td {
	border: 1px solid #ccc;
}

tr.odd {
	background: #F5F5F5;
}

/* Meta */

address {
	color: #666;
}

/* Product Specific CSS */

.productlist h3 {
	border: none;
}

.key-point h1, .key-point h3 {
	margin: 0;
}

#product-desc h2 {
	text-indent: -700em;
	height: 25px;
	line-height: 2px;
	font-size: 2px;
}

#product-desc p {
	padding-left: 170px;
}

#product-desc ul, #key-desc {
	padding-left: 190px;
	margin-bottom: 0;
}

#product-side, #key-side {
	margin-left: 65%;
}

#product-side ul, #key-side ul {
	margin-left: 0;
	padding-bottom: 0;
	padding-left: 20px;
}

#product-side li, #key-side {
	padding-bottom: 0.2em;
}

#product-desc, #key-desc {
	padding: 40px 0 25px 0;
	color: #4C5C5C;
	width: 60%;
	float: left;
	line-height: 140%;
}

#key-desc {
	padding: 0;
}

#key-side {
	color: #4C5C5C;
}

.product-firefox {
	background: url("../../images/product-firefox-screen.png") no-repeat;
}
.product-thunderbird {
	background: url("../../images/product-thunderbird-screen.png") no-repeat;
}
.product-camino {
	background: url("../../images/product-camino-screen.png") no-repeat;
}
.product-mozilla {
	background: url("../../images/product-mozilla-screen.png") no-repeat;
}

#product-side .download h3 {
	color: #1D9101;
	font-weight: bold;
	margin: 0;
	font-size: 140%;
}

.download h3 :link,
.download h3 :visited,
.download h3 :link:active, .download h3 :visited:active {
	color: #1D9101;
}

.download h3 :link:hover, .download h3 :visited:hover {
	color: #156B01;
}

.download li {
	padding: 0;
	margin: 0;
}
.download ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.other a:link, .other a:visited { color: #666; }
.download .other a:hover { color: #000; }
.download:before {
	line-height: 0.1;
	font-size: 1px;
	margin: -15px -15px 0 -15px;
	height: 15px;
	display: block;
	border: none;
	content: url("../../images/download_tl.gif");
}
.download {
	background: #C4EFA1 url("../../images/download_back.gif") top right no-repeat;
	padding: 15px 45px 15px 15px;
	margin-bottom: 0.5em;
}
.download:after {
	display: block;
	padding-top: 15px;
	line-height: 0.1;
	font-size: 1px;
	content:  url("../../images/download_bl.gif");
	margin: -10px -45px -15px -15px;
	height: 8px;
	background: transparent url("../../images/download_br.gif") scroll no-repeat bottom right ;
}
.configParent {
	display: block;
	font-size: 85%;
}

.shop:before, .shopmoz:before {
	line-height: 0.1;
	font-size: 1px;
	margin: -15px -15px 0 -15px;
	height: 15px;
	display: block;
	border: none;
	content: url("../../images/shop_tl.gif");
}
.shop {
	background: #C0DCDC url("../../images/shop_back.gif") top right no-repeat;
	padding: 15px 70px 15px 15px;
}
.shopmoz {
	background: #C0DCDC url("../../images/shopmoz_back.gif") top right no-repeat;
	padding: 15px 70px 15px 15px;
}
.shop:after, .shopmoz:after {
	display: block;
	padding-top: 15px;
	line-height: 0.1;
	font-size: 1px;
	content: url("../../images/shop_bl.gif");
	margin: -10px -70px -15px -15px;
	height: 8px;
	background: transparent url("../../images/shop_br.gif") scroll no-repeat bottom right ;
}

/* Firefox Central styles  */
#ffcentral-desc {
        background: url("../../products/firefox/t-welcomefirefox.gif") no-repeat;
        width: 60%;
        float: left;
        line-height: 140%;
}
#ffcentral-desc div {
        padding: 40px 0 0 100px;
}
#ffcentral h3, #ffcentral h2, #ffcentral p, #ffcentral ul {
        margin-top: 0;
        color: #4C5C5C;
}

/*
** footer
*/
#footer {
	background-color: white;
	border-top: 1px solid #999999;
	border-bottom: 0px solid #999999;
	margin: .6em 0 1em 0;
	padding: .4em 0 1.2em 0;
	text-align: center;
	font-size: 90%;
	color: #666666;
}
