/* mozilla.org Cavendish Template Styles
 * Initial Design by Daniel Burka and Steven Garrity
*/

/* Basic Structure */
	body {
		background: #fff url("body_back.gif") repeat-x;
	}

/* Header */

	#header {
		background: #455372 url("header_bl.png") bottom left repeat-x;
		position: relative;
		min-height: 39px;
		height: 3em;
		padding: 15px 0;
	}

    #ignored {}

	#header h1 {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		background: url("header_tl.gif") no-repeat;
		height: 8px;
		z-index: 100; /* above the UL */
	}
	#header h1 a {
		display: block;
		height: 58px;
		/* background: transparent url("header_logo.gif") no-repeat; */
	}
	#header ul {
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0;
		padding: 0 15px 0 0;
		list-style: none;
		background: url("header_br.gif") no-repeat bottom right;
		z-index: 90; /* below the H1 */
	}
	#header li {
		float: right;
		background: transparent url("header_tab.gif") 100% -600px no-repeat;
		padding: 0 6px 0 0;
		margin: 0 1px 0 0;
		border-bottom: 1px solid #515358;
	}
	#header ul a {
		float: left;
		display: block;
		padding: 4px 4px 4px 10px;
		background: transparent url("header_tab.gif") 0% -600px no-repeat;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
	}
	#header ul li:hover a { background-position: 0% -400px; }
	#header ul li:hover { background-position: 100% -400px; }

	body.sectionAbout li#menu_aboutus a,
	body.sectionProducts li#menu_products a,
	body.sectionSupport li#menu_support a,
	body.sectionDevelopers li#menu_developers a,
	body.sectionStore li#menu_store a {
		background-position: 0% -200px;
		color: #039;
	}

	body.sectionAbout li#menu_aboutus,
	body.sectionProducts li#menu_products,
	body.sectionSupport li#menu_support,
	body.sectionDevelopers li#menu_developers,
	body.sectionStore li#menu_store {
		background-position: 100% -200px;
		border-bottom: 1px solid #fff;
	}

	body.sectionAbout li#menu_aboutus:hover,
	body.sectionProducts li#menu_products:hover,
	body.sectionSupport li#menu_support:hover,
	body.sectionDevelopers li#menu_developers:hover,
	body.sectionStore li#menu_store:hover {
		background-position: 100% 0%;
	}

	body.sectionAbout li#menu_aboutus:hover a,
	body.sectionProducts li#menu_products:hover a,
	body.sectionSupport li#menu_support:hover a,
	body.sectionDevelopers li#menu_developers:hover a,
	body.sectionStore li#menu_store:hover a {
		background-position: 0% 0%;
		color: #333;
	}

/* Search Field */

	#header form {
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px 20px 0 0;
		background: url("header_tr.gif") no-repeat top right;
		margin: 0; /* need for IE Mac */
		text-align: right; /* need for IE Mac */
		white-space: nowrap; /* for Opera */
	}
	#header form label { color: #fff; font-size: 110%; }
	#header form input { font-size: 90%; }

    #searchform div {
        margin-top: 0;
    }

	#header form #searchInput {
        width: 170px;
        font-size: 90%;
        border: 0px solid #293756;
        background: #D9DBE1;
        padding: 2px 3px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
	}
	#header form #searchInput:hover, #header form #searchInput:focus {
        background: #fff;
	}

/* Sidebar */

	#nav:before {
		line-height: 0.1;
		font-size: 1px;
		background: transparent url("menu_tr.gif") no-repeat top right;
		margin: 0;
		height: 9px;
		display: block;
		/*border-bottom: 1px solid #ddd;*/
		content: url("key-point_tl.gif");
	}
	#nav {
		background: #E0E9E9 url("menu_back.gif") right repeat-y;
	}
	#nav:after {
		display: block;
		padding-top: 0;
		line-height: 0.1;
		font-size: 1px;
		content:  url("key-point_bl.gif");
		margin: 0 0 0 0;
		height: 8px;
		background: transparent url("menu_br.gif") scroll no-repeat bottom right ;
		border-top: 1px solid #fff;
	}

	#nav, #nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#nav {
		margin-bottom: 1em;
	}
	#nav li {
		display: inline;
		padding: 0;
		margin: 0;
	}

	#nav li span { /* used for un-linked menu items */
		display: block;
		padding: 6px 10px;
		font-weight: bold;
		color: #666;
		text-shadow: 0px 1px 0px #ffffff;
		letter-spacing: 0.8px;
	}

	#nav li span#configParent, #nav li span #configuration {
		display: inline;
		font-weight: normal;
		padding: 0;
	}

	#nav li a {
		display: block;
		padding: 8px 10px;
		text-decoration: none;
		background: #EDF2F2;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #fff;
		border-right: 1px solid #ddd;
	}

	#nav li a:hover {
		background: #E0E9E9;
	}

	#nav li li span { /* used for un-linked menu items */
		padding: 4px 8px 4px 20px;
	}

	#nav li li a {
		padding: 6px 8px 6px 20px;
	}

	#oN {
		background-color: #E0E9E9;
	}
	#oN:hover {
		background-color: #C6DCDC;
	}

/* Footer */

	#footer {
		border-top: 1px solid #999;
		border-bottom: 0px; /* removes the yellow line */
		margin: 2em 0;
		padding: 1em 0;
		text-align: center;
	}

	#footer ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#footer li {
		display: inline;
	}

	#footer a {
		white-space: nowrap;
	}

	#footer p,#footer p a {
		color: #666;
	}

	#footer p a:hover {
		color: #000;
	}

	#footer p span {
		padding-right: 1em;
	}
