/*
** MediaWiki 'cavendish' style sheet for CSS2/3-capable browsers.
** Copyright Mozilla Foundation - http://www.mozilla.org/
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on the monobook style by Gabriel Wicke
*
*/

/* Try to use custom fonts trough CSS3 (opera 10+, safari 3.1+ and ff 3.5+) */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/*
 * If you want the mozilla.org button on the top back, look for "mozilla-org"
 * in CavendishMW.php and uncomment that line. Also uncomment this body
 * part below.
 **/
/*body {
	background: url("images/subsite_back.gif") repeat-x;
	background-color: #FFF;
	margin-top: 0;
	padding-top: 0;
}*/

/*
 * Overwrite some styles from monobook.
 */
ul {
	list-style-image: url(images/bullet-icon.png);
}
.portlet ul {
	list-style-type: circle;
	list-style-image: url(images/bullet-icon.png);
}
li#pt-userpage,
li#pt-anonuserpage,
li#pt-login {
	background: url(images/user-icon.png) top left no-repeat;
}

a[href ^="https://"],
.link-https {
	background-image: url(images/lock-icon.png);
}
a[href ^="mailto:"],
.link-mailto {
	background-image: url(images/mail-icon.png);
}
a[href ^="news://"] {
	background-image: url(images/news-icon.png);
}
a[href ^="ftp://"],
.link-ftp {
	background-image: url(images/file-icon.png);
}
a.external[href $=".ogg"], a.external[href $=".OGG"],
a.external[href $=".mid"], a.external[href $=".MID"],
a.external[href $=".midi"], a.external[href $=".MIDI"],
a.external[href $=".mp3"], a.external[href $=".MP3"],
a.external[href $=".wav"], a.external[href $=".WAV"],
a.external[href $=".wma"], a.external[href $=".WMA"],
.link-audio {
	background-image: url("images/audio-icon.png");
}
a.external[href $=".ogm"], a.external[href $=".OGM"],
a.external[href $=".avi"], a.external[href $=".AVI"],
a.external[href $=".mpeg"], a.external[href $=".MPEG"],
a.external[href $=".mpg"], a.external[href $=".MPG"],
.link-video {
	background-image: url("images/video-icon.png");
}

/*
 * Fix for search suggestions not displaying right under the search box.
 */
div.suggestions {
    right: 149.533px !important;
}
